<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.arungupta.android.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"
         >
        <!--android:theme="@android:style/Theme.Holo.Light"-->
        <!--android:theme="@style/AppTheme"-->
        <activity
            android:name="name.arungupta.android.helloworld.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="name.arungupta.android.helloworld.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.arungupta.android.helloworld.MainActivity" />
        </activity>
        <activity
            android:name="name.arungupta.android.helloworld.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="name.arungupta.android.helloworld.DisplayMessageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.arungupta.android.helloworld.DisplayMessageActivity" />
        </activity>
        <activity
            android:name="name.arungupta.android.helloworld.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="name.arungupta.android.helloworld.DisplayMessageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.arungupta.android.helloworld.DisplayMessageActivity" />
        </activity>
    </application>

</manifest>
